.logoimg {
    margin-top: 23px;
}

.container {

    width: 1200px;
    padding: 0;
    margin: 150px auto;
    position: relative;
}

.section_left {
    display: inline-block;
    margin-left :125.5px;
    margin-right :125.5px;
}

.section_left img{
    width: 500px;
    height: auto;
}   

.section_right {
    top: 30px;
    display: inline-block;
    position: relative;
    width: 377px;
    float: right;
}

.product_name {
    font-size: 24px !important;
    font-weight: 600;
    color: #000;
}


.product_sel {
    font-size: 33px !important;
    margin: 25px 0 5px 0;
    font-weight: 600;
    color: #000;
}

.total {
    position: relative;
    top: 160px;
    margin: 0px 0 0;
    padding: 20px 9px 0px;
    border-top: 1px solid #ddd;
    background: #fff;
    text-align: right;
}

.total_text {
    display: inline-block;
    color: #353535;
}

.total_sel {
    display: inline-block;
    color: #000;
    font-size: 24px !important;
    font-weight: 600;

}

.product_btn {
    position: relative;
    top: 180px;
}

.btncart {
    width: 48.5%;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    border: 1.5px solid #56b3e4;
    background-color: #fff;
    border-radius: 10px;
    
    color: #56b3e4;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 15px;
    font-weight: 600;
    float: left;
}

.btnbuy {
    text-align: center;
    width: 48.5%;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #56b3e4;
    background-color: #56b3e4;
    border-radius: 10px;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 15px;
    font-weight: 600;
    float: right;
}